
@media screen and (max-width: 576px){
    nav,
    .tour-section,
    .search-section{
        flex-direction: column;
    }
    .nav-left-img{
        width: 100%;
        flex-direction: column;
        
    }
    .nav-right-text {
        width: 100%;
        flex-direction:column;
    }
    .header-section{
        background-image: 100%;
        background-size: cover;
    }
    .input{
        flex-direction: column;
        width: 200px;
    }
    .search{
        width: 100%;
    }
    .img{
        width: 100%;
    }
   
    
    
   
}