@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Open+Sans:ital,wght@0,500;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;1,200;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,400;1,500&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar section */
.navbar-section{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-left-img{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-title{
    font-size: 35px;
    font-weight: 800;
    color: #131318;
    padding-left: 10px;
}
.nav-span{
    color: #FF5400;
}
.nav-right-text{
    width: 50%;
}
.nav-right-text > ul{
    display: flex;
    justify-content: space-between;
}
ul > li{
    list-style: none;
}
li >a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #424247;
}
.span{
    color: #FF5400;
}
.fa-sharp{
    font-size: 20px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
/* Header section */
.header-section{
    background-image:url(./images/Group\ 13\ \(1\)\ \(1\).png);
    margin: 30px auto;
    max-width: 1200px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size:cover;


}
.header{
 align-items: center;
 text-align: center;
 padding-top: 2%;
 color: white;
 
 
}
.header-title{
    font-size: 65px;
    font-weight: 800;
    color: #FFF;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    padding-bottom: 30px;
}
.input{
    display: inline-flex;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-box-1{
    padding: 5px;
    border: none;
    border-radius: 10px;
}
select option .input-box-2{
    padding: 10px 15px;
    background-color: #FFF;
}
.fa-solid{
    padding: 10px;
}
.btn{
    padding: 10px 15px;
    background-color: #FF5400;
    border: none;
    color: #FFF;
    break-before: 10px;
    cursor: pointer;
}

/* Tour section */
.tour-section{
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-text{
    width: 60%;
    
}
.tour-title{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.primary-btn{
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    background-color: #FF5400;
    color: white;
    border-radius: 10px;
}
.right-img{
    border: 2px solid red;
    width: 40%;
}
/* Gallery section */
.gallery-section{
  
}
.container{
    max-width:1200px;
    margin: 50px auto;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2px;
}
.title-t{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.paragraph{
    text-align: center;
}
.gallery-1{
    grid-column: 1/span 6;
}
.gallery-2{
    grid-column: 7/span 13;
    
}
.gallery-3{
    grid-column: 1/span 4;
    
    
}
.gallery-4{
    grid-column: 5/span 6;
    
}
.gallery-5{
    grid-column: 11/span 13;
    
}
.gallery-6{
    grid-column: 1/span 5;
    
}
.gallery-7{
    grid-column: 6/span 13;
    
}
.img-container img{
    width: 99%;
    height: 100%;
    margin-top: 40px;
    
}


/* Choose section */
.choose-section{
    max-width: 1200px;
    margin: 70px auto;

}
.choose-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.choose-card-1{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(35, 95, 109, 0.2);
    background: rgba(4, 27, 33, 0.05);

}
.choose-card-2{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(10, 74, 24, 0.05);
}
.choose-card-3{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(58, 25, 175, 0.05);
}
/* Search-section */
.search-section{
    max-width: 1200px;
    margin: 50px auto;
   
}
.search-box{
    display: flex;
    gap: 40px;
}
.search{
    padding: 40px;
    width: 40%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-p{
    width: 60%;
}
.img-p img{
    width: 100%;
    height: 100%;
}
.title{
    font-size: 25px;
    font-weight: 400px;
    color: #131318;
}
.box{
    width: 380px;
    height: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 20px;
    font-size: 20px;
}
.box-1{
    width: 400px;
    height: 70px;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
.img{
    width: 60%;
    
}
.img img{
    width: 100%;
}

/* footer */
.footer{
    height: 300px;
    background: rgba(19, 19, 24, 0.05);
    color:black;
    text-align: center;
    padding: 30px;
}